.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.input-text-field {
  display: flex;
  width: 300px;
  height: 25px;
  border-radius: 7px;
  margin: 10px;
}

.submit-button {
  height: 25px;
  font-size: 16px;
  border-radius: 7px;
}

.answer-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.banner {
  width: 100%;
  border-radius: 15px 50px;
}